@model SchoolManagment.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoadStudent</title>
</head>
<body>
    <div> 
        student RollNo. :- @Model.RollNo
        <br />
        student name    :- @Model.StudentName
    </div>
</body>
</html>
